.chatFeed {
  height: 90%;
  width: 70vw;
  contain: content;
  padding-left: 30px;
}

.chatMessages {
  height: 65vh;
  overflow-y: auto;
}

.message-from-ban {
  background-color: #ffbaba;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

.input {
  width: 70vw;
}

.inputBar {
  display: flex;
  width: 65vw;
  align-items: center;
}

.userAdminTable {
  width: 100%;
  align-content: center;
}

td {
  color: black;
}

label {
  cursor: pointer;
  color: #000;
  padding: 10px;
  margin: 3px;
}

tr:hover {
  align-content: center;
}

.passWordDiv {
  text-align: center;
  padding: 10px;
}

.tableDiv {
  display: block;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.sideBar {
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.convButton {
  display: flex;
  flex-direction: row;
}
