nav{
    height: 50px;
    width: 100%;
    border: 1px solid #dfdfdf;
}

.div-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.logo-header{
    top: 0px;
    left:0px;
    position: absolute;
}
