nav{
    height: 70px;
    width: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid #dfdfdf;
}

.heart{
    color: #ff0000;
}

.profile-image{
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    height: 100%;
    width: 100%;

}

.div-profile-picture{
        /* Rounded border */
        border-radius: 50%;

        /* Center the content */
        align-items: center;
        display: flex;
        justify-content: center;
    
        /* Size */
        height: 4rem;
        width: 4rem;
     margin-left: 1100px;
}

.div-header{
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    align-items: center;
    /* height: 100%; */
}

.h1-header{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 20px;
}

footer {
    font-size: 14px;
    position:fixed;
    display:flex;
    justify-content: flex-end;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
 }

.footer-credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-header{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin-left: 10px;
}

.text-logout{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    /* margin:auto; */
}


.particles {
    z-index: -1;
}

/* center this div in the middle of the page */
.center {
    position: absolute;
    /* width: 100px; */
    /* padding-bottom: 10px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: black; */
}


.container-login{
    width: 100%;
    margin: auto;
    display: flex;
    /* min-width: 155px; */

    flex-direction: column;
    justify-content: center;
}

.container {
    width: 1600px;
    margin: auto;
}