.column-profile {
    float: left;
    width: 20%;
    margin : 10px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.loser {
    background-color: red;
    border-radius: 15%;
}

.winner {
    background-color: green;
    border-radius: 15%;
}

.main {
    max-height: 400px;
    overflow-y: scroll;
}