.text-play {
  color: #fff;
  font-size: 100px;
  padding-top: 10px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.text-social {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.social-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-home {
  display: flex;
  flex-direction: column;
}

.container-down {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 70px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.h1-header {
  color: #fff;
  font-size: 50px;
  padding-top: 100px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.h2-header {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
