body {
  margin: 0;
}

.back-button {
  position: relative;
}

.container {
  height: 30;
  display: flex;
  flex-direction: column;
}

.scrollable-div {
  height: auto;
  width: auto;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}

.container-friendlist {
  height: 500px;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  min-height: 0;
}

.sidebar {
  overflow: auto;
  text-align: center;
}

.main {
  flex: 1;
  overflow: auto;
  text-align: center;
  height: auto;
  margin: auto;
  text-align: justify;
  padding: 1.5em;
}
