.modal {
  position: fixed;
  z-index: 7;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #161616;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 30%;
  z-index: 6;
}

.modal-column {
  flex: left;
  width: 33%;
}

.modal-row {
  display: flex;
}

.modal-row:after {
  content: "";
  display: table;
  clear: both;
}

.modal-img {
  height: 50%;
  display: inline;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
