.container-2fa {
  display: flex;
  background-color: rgb(17, 17, 17);
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 240px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
}

.button-2fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}

.text-dev-2fa {
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.text-error-2fa {
  color: rgb(255, 0, 0);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.button-2fa-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.text-semi-2fa {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.input-2fa {
  display: flex;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 142px;
  margin-bottom: 2px;
}

.text-2fa {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
